.brand {
  .list {
    width: 750rpx;
    height: 416rpx;
    position: relative;
    margin-bottom: 4rpx;
    img {
      width: 100%;
      height: 100%;
    }
    .info {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      span {
        color: #fff;
        font-size: 35rpx;
        font-weight: bold;
      }
      span:nth-child(2) {
        padding: 0 5rpx;
      }
    }
  }
}
