.index {
  width: 100%;
  .swiper {
    width: 100%;
    height: 417rpx;
    .swiper-container {
      width: 100%;
      height: 100%;
      .swiper-item {
        width: 100%;
        height: 100%;
        .slide-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .channel {
    display: flex;
    padding: 20rpx 0;
    background: #ffffff;
    div {
      width: 25%;
      text-align: center;
      img {
        height: 58rpx;
        width: 58rpx;
        display: inline-block;
      }
    }
  }
  .brand {
    width: 100%;
    margin-top: 20rpx;
    background: #ffffff;
    padding-bottom: 5rpx;
    .head {
      text-align: center;
      padding: 40rpx 0;
    }
    .content {
      width: 97%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div {
        width: 49%;
        height: 235rpx;
        position: relative;
        div {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10rpx;
          p:nth-child(2) {
            font-size: 24rpx;
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .newgoods {
    margin-top: 20rpx;
    height: 260rpx;
    width: 100%;
    background: url('../../../static/images/bgnew.png') no-repeat;
    background-size: 100% 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .top {
      p {
        color: #8c9bae;
      }
      p:nth-child(2) {
        font-size: 22rpx;
        padding: 10rpx 50rpx;
        background: #d8e4f0;
        margin-top: 27rpx;
      }
    }
    .list {
      width: 10000px;
      ul {
        width: 400px;
        display: flex;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        li {
          img {
            width: 280rpx;
            height: 280rpx;
          }
        }
      }
    }
  }
}
