.mappage {
  height: 100%;
  background: #fff;
  position: relative;

  .section {
    height: 30px;
    width: 100%;

    input {
      width: 90%;
      margin: 0 auto;
      border: 1px solid #c3c3c3;
      height: 30px;
      border-radius: 3px;
      padding: 0 5px;
    }
  }

  .result {
    width: 40%;
    // margin: 0 auto;
    padding: 20rpx 0 20rpx 30rpx;
  }

  .map_container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    .title {
      font-size: 34rpx;
      font-weight: bold;
      padding: 20rpx;
    }

    .map {
      width: 100%;
      height: 500rpx;
    }
  }
}
